@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/open-sans-semi-bold.woff2") format("woff2"),
    url("../../fonts/open-sans-semi-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../../fonts/dm-sans-bold.woff2") format("woff2"),
    url("../../fonts/dm-sans-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/open-sans-light.woff2") format("woff2"),
    url("../../fonts/open-sans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/open-sans-regular.woff2") format("woff2"),
    url("../../fonts/open-sans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
