body {
  font-size: $font-size-default;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
}

.heading-medium {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 3rem;
}
