// Colors
$color-black: #232323;
$color-white: #fdfdfd;
$color-gray: #848484;
$color-gray-light: #f8f8f8;
$color-gray-bright: #eeeeee;

$color-mountain-meadow: #1dbe9f;
$color-radical-red: #ff455c;
$color-cabaret: #cf4e74;
$color-yuma-gold: #ffd678;

$color-error: #b62d1a;
$color-error-light: #ffa195;

// Fonts
$font-family-main: "Open Sans", sans-serif;
$font-family-heading: "DM Sans", sans-serif;
$font-size-default: 1.6rem;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  mob: 665px,
  sm: 768px,
  md: 992px,
  ml: 1100px,
  lg: 1290px,
  xl: 1310px,
) !default;
