// Colors
$color-black: #2b2a33;
$color-white: #fdfdfd;
$color-gray: #848484;
$color-gray-light: #f8f8f8;
$color-gray-bright: #eeeeee;

$color-mountain-meadow: #1dbe9f;
$color-cabaret: #cf4e74;

// Fonts
$font-family-main: "Open Sans", sans-serif;
$font-family-heading: "DM Sans", sans-serif;
$font-size-default: 1.6rem;
