.no-match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 8rem;
  }

  img {
    width: 30%;
    object-fit: cover;
  }
}
