.dashboard {
  display: flex;
  justify-content: space-between;

  &__menu {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 20%;
    background: $color-white;

    ul {
      list-style: none;
    }
  }

  &__right {
    margin-left: 30%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
