.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15rem;
  padding: 0 5%;
  text-align: center;

  .hotel-grid {
    margin: 1rem 0;
  }

  &__dropdown {
    background: $color-white;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    cursor: pointer;

    svg {
      color: $color-radical-red;
    }
  }
}