.btn-main {
  background: $color-radical-red;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: $color-white;
  transition: all 500ms ease;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  height: 5rem;
  z-index: 999;

  &:hover {
    border-radius: 0.5rem;
    background: darken($color-radical-red, 5%);
  }

  a:visited {
    color: $color-white;
  }
}

.circular-btn-main {
  border: none;
  border-radius: 50%;
  background: $color-radical-red;
  color: $color-white;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 500ms ease;

  &:hover {
    background: darken($color-radical-red, 5%);
  }
}
