.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  border-radius: 2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 5vh;
  
  &__img-container {
    height: 100%;
    border-radius: 2rem;

    @include media-breakpoint-up(md) {
      height: 80%;
      width: 100%;
    }
    
    img {
      border-radius: 2rem;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    z-index: 1;
    color: $color-white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    max-width: 30rem;
  }

  &__title-main {
    font-size: 6rem;
    width: 6rem;

    @include media-breakpoint-up(md) {
      font-size: 8rem;
    }
  }

  &__title-sub {
    font-size: 2rem;
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }
  }

  .or-separate {
    margin: 0 1rem;
  }
}