.search-bar {
  input {
    opacity: 0;
    border: none;
    background: $color-white;
    padding: 1rem;
    transition: all 300ms ease-in-out;
    height: 5rem;
    border-radius: 1rem;

    &:focus {
      border-radius: 1rem 1rem 0 0;
    }
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  //position: absolute;
  //top: 4rem;
  height: 20rem;
  width: 30rem;
  overflow: scroll;
  background: $color-gray-light;
  border-radius: 0 0 1rem 1rem;
  a {
    color: $color-black;

    &:visited {
      color: $color-black;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    border-bottom: 0.1rem 0 solid $color-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &:hover {
      background: darken($color-gray-light, 5%);
    }
  }

  img {
    width: 8rem;
    height: 6rem;
    object-fit: cover;
  }
}

.show-search {
  input {
    opacity: 1;
  }
}



