.search-bar {
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    border: none;
    background: $color-white;
    padding: 1rem;
    transition: all 300ms ease-in-out;
    width: 0;
    height: 5rem;
    border-radius: 0 1.5rem 1.5rem 0;

    &::placeholder {
      font-size: 1.8rem;
    }
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  height: 20rem;
  width: 30rem;
  overflow: scroll;
  background: $color-gray-light;
  border-radius: 1rem;
  a {
    color: $color-black;

    &:visited {
      color: $color-black;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  li {
    border-bottom: 0.1rem 0 solid $color-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &:hover {
      background: darken($color-gray-light, 5%);
    }
  }

  img {
    width: 10rem;
    height: 6plrem;
    object-fit: cover;
  }
}

.show-search {
  input {
    opacity: 1;
    width: 30rem;
  }
}
