.dashboard {
    max-height: 100vh;
    position: relative;

    &__navigation {
       

        margin-top: 10rem;
        background: $color-gray-light;

        ul {
            display: flex;
            list-style: none;
            width: 50%;
            margin: 0 auto;
            justify-content: space-evenly;
        }
    }
}