.header {
  background: $color-white;
  height: 10vh;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 5%;
  top: 0;
  z-index: 999;

  &__logo {
    display: block;
    width: 4rem;
    max-width: 30rem;
  }

  nav {
    order: 3;
  }

  &__links {
    display: none;
    color: $color-black;
    list-style: none;
    align-items: center;
    z-index: 999;

    &--open {
      @include flex-center;
      overflow-y: hidden;
      font-size: 4rem;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: $color-white;
      height: 100vh;
      list-style: none;
    }

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  &__item {
    padding: 1rem;
    border-radius: 0.3rem;
    transition: all 500ms ease;
    color: $color-black;

    a {
      color: $color-black;
    }

    a:visited {
      color: $color-black;
    }

    &:hover {
      background: darken($color-white, 5%);
      border-radius: 0.5rem;
    }
  }

  &__hamburger {
    font-size: 4rem;
    cursor: pointer;
    z-index: 9999;
    order: 4;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.active {
  background: darken($color-white, 5%);
  border-radius: 0.5rem;
} 